ion-card-subtitle {
    font-size: 1.8vh;
    text-align: right;
    padding: 1vh 1vh 0 0;
}

ion-card-title {
    text-align: right;
    padding: 1vh 1vh 0 0;
}

ion-card-content,
ion-card-header {
    padding: 0;
}

ion-button {
    font-size: 2vh;
}