<app-header></app-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Números a adicionar</ion-label>
        <ion-input [(ngModel)]="add" type="number"></ion-input>
    </ion-item>
    <ng-container *ngIf="monitors">
        <ion-item *ngIf="monitors.length > 0">
            <ion-select (ionChange)="handleChange($event)" value="{{monitors[0].id}}" placeholder="Escolha o Monitor">
                <ng-container *ngFor="let item of monitors; let number = index">
                    <ion-select-option value="{{item.id}}">Monitor {{number + 1}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
    </ng-container>
    <ion-button (click)="addNumbers()" expand="block" fill="clear" shape="round">
        Adicoinar
    </ion-button>

</ion-content>