<app-header url="home"></app-header>

<ion-content>
    <ng-container *ngIf="campaignClass.get()">
        <ng-container *ngIf="!campaignClass.get().raffles">
            <ion-button (click)="createRaffle()" expand="block">
                Criar rifas
            </ion-button>
        </ng-container>
        <ng-container *ngIf="userClass.get()">
            <ng-container *ngIf="campaignClass.get()">
                <ng-container *ngIf="userClass.get().role === 'admin'">
                    <ion-accordion-group value="0">
                        <ng-container *ngFor="let item of campaignClass.getCampaingPagination(); let i = index">
                            <ion-accordion value="{{i}}">
                                <ion-item class="ion-margin" color="primary" slot="header">
                                    <ion-label>
                                        {{item.data[0].number}} - {{item.data[item.data.length - 1].number}}
                                    </ion-label>
                                </ion-item>
                                <div class="flex ion-padding" slot="content">
                                    <ng-container *ngFor="let raffles of item.data; let i = index">
                                        <ion-button color="{{raffles.sold ? 
                                            'danger' : 
                                            raffles.reserved ? 
                                            'warning' : 'primary'}}" class="raffle" (click)="details(raffles)">
                                            {{raffles.number}}
                                        </ion-button>
                                    </ng-container>
                                </div>
                            </ion-accordion>
                        </ng-container>
                    </ion-accordion-group>
                </ng-container>
                <ng-container *ngIf="userClass.get().role === 'user'">
                    <ng-container *ngIf="campaignClass.getCampaignUser()">
                        <ion-accordion-group *ngIf="campaignClass.getCampaignUser().length > 0" value="0">
                            <ng-container>
                                <ion-accordion value="0">
                                    <ion-item class="ion-margin" color="primary" slot="header">
                                        <ion-label>
                                            {{userClass.get().ticketsInitial}} - {{userClass.get().ticketsFinal}}
                                        </ion-label>
                                    </ion-item>
                                    <div class="flex ion-padding" slot="content">
                                        <ng-container *ngFor="let raffles of campaignClass.getCampaignUser(); let i = index">
                                            <ion-button color="{{raffles.sold ? 
                                                'danger' : 
                                                raffles.reserved ? 
                                                'warning' : 'primary'}}" class="raffle" (click)="details(raffles)">
                                                {{raffles.number}}
                                            </ion-button>
                                        </ng-container>
                                    </div>
                                </ion-accordion>
                            </ng-container>
                        </ion-accordion-group>
                        <ng-container *ngIf="campaignClass.getCampaignUser().length === 0">
                            <h3 class="ion-margin">Você ainda não tem números liberados para venda. <br><br>Aguarde aprovação de um administrador.</h3>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!campaignClass.getCampaignUser()">
                        <app-skeleton-banner></app-skeleton-banner>
                    </ng-container>

                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>