h3 {
    text-align: center;
    font-family: 'Din-Bold';
    font-size: 2.5vh;
    border-bottom: 1px solid black;
    margin: 1vh 3vh;
    padding: 1vh;
}

ion-card {
    --background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 50px 0px 280px 10px var(--ion-color-dark);
}

ion-card-title,
ion-card-subtitle,
ion-card-content {
    color: white;
}

ion-grid,
ion-row,
ion-col {
    margin: 0;
    padding: 0;
}

ion-card-content {
    font-size: 2vh;
    font-weight: 700;
    padding: 2vh 0 1vh 0;
    text-align: center;
    font-family: 'Din-Bold';
}