ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-list {
    background-color: transparent;
}

ion-item {
    --background: transparent;
}

.logo {
    height: 27vh;
    width: auto;
}

p {
    margin: 0;
    padding: 0;
}